<div class="header__menu" data-menu="">
  <nav class="site-nav">
    <ul class="site-nav__list">
      <li class="site-nav__item">
        <a class="link site-nav__link" href="#home">Home</a>
      </li>
      <li class="site-nav__item">
        <a class="link site-nav__link" href="#about">About us</a>
      </li>
      <li class="site-nav__item">
        <a class="link site-nav__link" href="#howmade">How it’s made?</a>
      </li>
      <li class="site-nav__item">
        <a class="link site-nav__link" href="#products">Our products</a>
      </li>
      <li class="site-nav__item">
        <a class="link site-nav__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<!-- <section class="menu" data-menu>
  
    <div
      class="menu-click-area"
      onclick="document.querySelector('.phone').classList.toggle('active')"
    ></div>

  <svg class="menu__icon-close" data-menu-button>
    <use xlink:href="./images/sprite.svg#icon-close"></use>
  </svg> -->

<!-- Burger Button -->
<!-- <div class="burger-button menu__burger-button" data-menu-button>
    <svg class="menu__hum-icon">
            <use xlink:href="./images/sprite.svg#icon-burger"></use>
          </svg>
    <svg
      id="icon-burger"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 46 32"
      height="37"
      width="21"
    >
      <g class="top-bars" stroke-width="4">
        <path class="bar bar1" d="M0 2.286h45.714"></path>
        <path class="bar bar2" d="M0 16h45.714"></path>
        <path class="bar bar3" d="M0 29.714h45.714"></path>
      </g>
    </svg>
  </div>

  <button class="button menu__button">Buy now</button> -->
<!-- menu -->
<!-- <ul class="menu__pages">
    <li class="menu__item">
      <a class="menu__link" href="#home">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#about">About us</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#how">How it’s made?</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#products">Our products</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#contacts">Contact</a>
    </li>
  </ul>
</section> -->
