<section class="menu" data-menu>

 <!-- 
    <div
      class="menu-click-area"
      onclick="document.querySelector('.phone').classList.toggle('active')"
    ></div> -->

  <!-- <svg class="menu__icon-close" data-menu-button>
    <use xlink:href="./images/sprite.svg#icon-close"></use>
  </svg> -->
  <button class="button menu__button">Buy now</button>
  <!-- menu -->
  <ul class="menu__pages">
    <li class="menu__item">
      <a class="menu__link" href="#home">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#about">About us</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#how">How it’s made?</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#products">Our products</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#contacts">Contact</a>
    </li>
  </ul>
</section>
